@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto Condensed", sans-serif;
}

/* boton carrito */

.btnCarrito {
  background-color:  #296db2;
  color: white;
  width: 120px;
  height: 60px;
  border-radius: 20px;
  border-style: none;
  padding: 5px;
}

.btnCarrito:hover {
  background-color:#0080ff;
  transform: scale(0.9);
}

.bi {
  font-size: 2rem;
}

.contador {
  font-size: 1.5rem;
}


/* menu header */

.menu {
  width: 100%;
  background-color: #163a5f;
  display: flex;
  justify-content: space-around;
  align-items: center;
  align-content: center;
  position: sticky;
  padding-left: 20px;
  padding-right: 20px;
}
.menu__item {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  gap: 20px;
  text-align: right;
}
.menu__item a {
  text-decoration: none;
  color: white;
}

.logo {
  width: 150px;
  height: auto;
  background-color: #163a5f;
}

/* main */

.productos {
  display: flex;
  flex-wrap: wrap;
  margin-top: 20px;
  margin-bottom: 20px;
  gap: 30px;
  justify-content: center;
}

.producto {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 300px;
  border: 1px solid rgb(210, 208, 208);
  border-radius: 5px;
  line-height: 1.5;
  position: relative;
  align-items: center;
  padding: 10px;
}

.producto_imagen {
  width: 95%;
}

.producto_boton {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}

.productoTitulo {
  font-size: 20px;
  font-weight: 600;
}

.productoDescripcion {
  font-size: 18px;
  text-align: center;
  font-weight: 300;
}

.producto_precio {
  font-size: 24px;
  font-weight: 500;
}

.boton_agregar {
  display: flex;
  background-color: #296db2;
  color: white;
  padding: 10px 30px;
  border-radius: 10px;
  font-size: 1rem;
  text-decoration: none;
  margin-bottom: 15px;
  border: #296db2;
  
}

.boton_agregar:hover {
  background-color: #0080ff;
  transform: scale(0.9);
}

.boton_eliminar {
  display: flex;
  background-color: #c03728;
  color: white;
  padding: 5px 10px;
  border-radius: 10px;
  font-size: 0.8rem;
  text-decoration: none;
  margin-bottom: 15px;
  border: #c03728;
}

.boton_eliminar:hover {
  background-color: #f90000;
}


.contenedorCarrito {
  display: flex;
  flex-direction: column;
}

.carrito {
  display: flex;
  flex-direction: row;
  gap: 10px;
  color: black;
  font-size: 1.3rem;
  margin: auto;
}

.tituloProductos {
  font-weight: 700;
  text-align: center;
  margin-top: 20px;
}

.tituloCarrito {
  font-weight: 700;
  text-align: center;
  margin-bottom: 30px;
}

.precioTotal {
  text-align: center;
  font-size: 1.5rem;
}



/* modal */

.contenedorModal {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.3);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.5s;
  opacity: 0;
  visibility: hidden;
  color: black !important;
}

.modal-active {
  opacity: 1;
  visibility: visible;
}

.modal-active .carritoModal {
  margin-top: 0;
}

.carritoModal {
  position: relative;
  background-color: white;
  min-width: 70%;
  padding: 20px;
  margin-top: -100%;
  transition: all 0.5s;
}
.carritoModal h3 {
  color: black;
  padding-bottom: 5px;
}
.carritoModal #cerrarCarrito {
  position: absolute;
  top: 15px;
  right: 15px;
  font-size: 20px;
  color: #303841;
  border: none;
  letter-spacing: 0;
  background-color: rgb(255,255, 255);
}
.carritoModal #cerrarCarrito:hover {
  cursor: pointer;
  transform: scale(1.1);
}
.carritoModal #cerrarCarrito:focus {
  outline: none;
}
.carritoModal .precioProducto {
  padding-top: 10px;
  margin: 10px;
  font-weight: bold;
}

.botonCarrito {
  display: flex;
  background-color: #296db2;
  color: white;
  padding: 10px 30px;
  border-radius: 10px;
  font-size: 1rem;
  text-decoration: none;
  margin:auto;
  border: #296db2;
}

.botonCarrito:hover {
  transform: scale(0.9);
}

.botonComprar {
  background-color: #0080ff;
}

.botones {
  display: flex;
}

/* productos en carrito */

.productoEnCarrito {
  border-left: 5px solid #131414;
  border-bottom-left-radius: 3px;
  border-top-left-radius: 3px;
  margin: 5px 0;
  padding: 5px 10px;
  display: flex;
  justify-content: space-between;
}
.productoEnCarrito:hover {
  border-left: 5px solid #303841;
}
.productoEnCarrito p {
  padding: 10px;
  font-weight: bold;
}
.productoEnCarrito .removeModalBtn {
  background-color: white;
  color: #303841;
  border: none;
  font-size: 20px;
  padding-left: 20px;
}
.productoEnCarrito .removeModalBtn:hover {
  cursor: pointer;
}
.productoEnCarrito .removeModalBtn:focus {
  outline: none;
}

/* footer */

.footer {
  width: 100%;
  background-color: #163a5f;
  color: white;
  display: flex;
  text-align: center;
  padding-top: 30px;
  margin-top: 20px;
  justify-content: center;

}

/* media queries */

@media screen and (max-width: 768px) {

  .menu {
    padding: 20px 20px;
  }
}
@media screen and (max-width: 480px) {
  
  .menu {
    justify-content: space-around;
    align-content: center;
    padding: 20px 20px;
  }
}